/* Layout Holy Gail con grid areas */
.text-center, footer, header {
  text-align: center;
}
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
  height: 100vh;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
}
.ftr-container{
  display: flex;
  margin: auto; 
}
.product{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
/* Pseudoclases */
main :nth-child(4n) {
  text-decoration: underline;
  color: lime;
}
/* or :nth-child(2n+1) */
main :nth-child(odd){
color:red;
}
/* or :nth-child(2n+1) */
main :nth-child(even){
color:yellow;
}
/* :nth-child(0n+1) */ 
main:nth-child(1){
  text-decoration: line;
}
.nav-bar :nth-last-child(7){
  color: pink;
}
.nav-bar :nth-of-type(2n){
  color: brown;
}
span{
  margin-right: -25px;
  padding-right: 2px;
  color: purple;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
header {
  background: #8561EC;
  grid-area: header;
  padding: 1rem 0;

  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav, aside {
  background: #96B6F2;
}

nav, aside, main {
  text-transform: uppercase;
  color: lightslategray;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
}

main {
  grid-area: content;
  width: 100%;
  background: #0F154F;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

aside {
  background-color: #7A2750;    
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  background: #321313;
  grid-area: footer;
  color: var(--primary);
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(75px, auto) 1fr minmax(75px, auto) auto;
  }
  nav, aside {
    margin: 0;
  }
}
